#outerbox {
	margin-top: 10px;
	background-color: none;
	z-index: 5px;
	width: 100%;
	margin-top: -2px;
	margin-right: 5px;
	float: left;
	background: #F9F9F4;
	margin-bottom: 5px;
	border-color:#5C4A56; border:1px solid;

}

#home {
	text-shadow: none;
	box-shadow: none;
	border: none;
	background: none;
	display: inline;
	float: right;
}

#main {
	display: inline;
}

#category_link{
	-moz-box-shadow: -1px 0px 3px 0px #bee2f9;
	-webkit-box-shadow: -1px 0px 3px 0px #bee2f9;
	box-shadow: -1px 0px 3px 0px #bee2f9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee
		), color-stop(1, #468ccf));
	background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee',
		endColorstr='#468ccf');
	background-color: #63b8ee;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #3866a3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	height: 25px;
	line-height: 33px;
	text-decoration: none;
	text-align: center;
	padding-right: 15px;
}


#category_link:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf
		), color-stop(1, #63b8ee));
	background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf',
		endColorstr='#63b8ee');
	background-color: #468ccf;
}


#childcategory_link:hover{
	color: #B25538;
}

#childcategory_link {
	background: none;
	color: #27AAE1;
	border-radius: none;
	box-shadow: none;
	text-shadow: none;
	border: none;
	font-size: 17px;
}

#childcategory {
	margin-top: 40px;
	width: 150px;
	min-height: 200px;
	border-right: 1px solid gray;
}

#childproducts {
	float: left;
	margin-left: 160px;
	margin-top: -240px;
	background-color: none;
	font: none;
}

#childproducts a {
	border: none;
	background: none;
	box-shadow: none;
}

#childproducts a:hover,#childproducts a:active {
	background: none;
}

.childproduct:hover {
	text-shadow: 1px 1px 0px #ffffff;
	box-shadow: 0px 0px 10px 5px #A7A9AC;
}

h4 {
	font-family: arial;
	font-size: 17px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #6A6A6A;
	margin-left: 10px;
}

h3 {
	text-shadow: none;
}

.childproduct {
	margin-top: 10px;
	float: left;
	padding: 5px 5px 5px 5px;
	width: 230px;
	height: 250px;
	margin-left: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px; /* Firefox, or Gecko-based browsers */
	-webkit-border-radius: 10px; /* Safari, or Webkit-based browsers */
	margin-bottom: 10px;	
	background-color: #FFFFFF;
	border:1px solid #B25538;border-left-style:solid;border-left-width:12px;border-left-color:#B25538;
}

img {
	position: relative;
}

table {
	padding: 10px;
	border: none;
	border-color: #5C4A56;
	background-color: #F9F9F4;
}

table.nestedtable {
	width: 300px;
	padding-bottom:10px;padding-top:5px;border-right-style:none;border-top-style:none;border-left-style:none;
}
#breadcrumbs {
  position:absolute;
  width:100%;
  top:95px;
  left:10px; 
}
#breadcrumbs a{
-moz-box-shadow: -1px 0px 3px 0px #bee2f9;
	-webkit-box-shadow: -1px 0px 3px 0px #bee2f9;
	box-shadow: -1px 0px 3px 0px #bee2f9;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee
		), color-stop(1, #468ccf));
	background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee',
		endColorstr='#468ccf');
	background-color: #63b8ee;
	text-indent: 0px;
	border: 1px solid #3866a3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
	padding-right: 15px;
}
